.prizes--bg .animate-bg {
    transform: scaleY(1);
}

.prizes--bg .active {
  opacity: 0;
}
.prizes--bg .screen--intro {
  z-index: -1;
}
.animate-bg {
  //content: "";
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $c-dark;
  //transform: scaleY(0);
 // transform-origin: 50% 100%;
  transition: bottom 0.4s $t-long-ease-out;
}

.prizes--active {
  transition: all 0.5s ease;
  opacity: 1!important;
}

.js-menu-transition {
  opacity: 1!important;
}

.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../img/scene-mob.png");

    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
  }
}


.menu-opened .page-header__nav {
  transform: translate(0, 0);
  opacity: 1;
}

.add-transition .page-header__nav {
  @media (min-width:768px) {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.add-transition .page-header__logo {
  transform: translate(0, 0);
  opacity: 1;
}

.add-transition .screen__footer {
  transform: translate(0, 0);
  opacity: 1;
}

.screen--prizes.screen--hidden.active {
  display: block;
  position: absolute;
  
  & ~ .animate-bg {
     bottom: 0;
  }
}

.screen--prizes.active:not(.screen--hidden) {
  & ~ .animate-bg {
    display: none;
  }
}