@keyframes pop {
    from {
      transform: translateY(125%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes drop {
    from {
      transform: translateY(-125%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  .anim-popping {
    display: inline-flex;
    overflow: hidden;
    padding-top: 0.2em;
    margin-top: -0.2em;
  }
  
  .anim-popping__letter {
    animation: pop both;
  
    &--reverse {
      animation: drop both;
    }
  }
  
  @keyframes flamingo-wave {
    from {
      transform: translate(-190px, 0) rotate(0);
    }
  
    to {
      transform: translate(-190px, 45px) rotate(-10deg);
    }
  }
  
  @keyframes blue-leaf-left {
    from {
      transform: translateX(-300px) rotate(75deg);
      opacity: 0;
    }
  
    5% {
      opacity: 1;
    }
  
    20% {
      transform: translateX(-300px) rotate(-15deg);
    }
  
    40% {
      transform: translateX(-300px) rotate(10deg);
    }
  
    80% {
      transform: translateX(-300px) rotate(-8deg);
    }
  
    to {
      transform: translateX(-300px) rotate(-4deg);
      opacity: 1;
    }
  }
  
  
  @keyframes blue-leaf-right {
    from {
      transform: rotate(-60deg);
      opacity: 0;
    }
  
    5% {
      opacity: 1;
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    80% {
      transform: rotate(10deg);
    }
  
    to {
      transform: rotate(5deg);
      opacity: 1;
    }
  }
  
  @keyframes slide {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  